---
import Layout from '../layouts/Layout.astro';
import Hr from '../components/Hr.astro';
---

<Layout title="jarred.nz/ Index">
	<main>
		<h1>Index page</h1>
		<Hr />
		<div class="h-[80vh]">One</div>
		<div class="h-[80vh]">Two</div>
		<div class="h-[80vh]">Three</div>
	</main>
</Layout>