---
import Hr from "../components/Hr.astro";
import Preview from "../components/preview.svelte";
let projects = await Astro.glob('../pages/projects/*.mdx');
projects = projects.reverse();
import Layout from "../layouts/Layout.astro";
---

<Layout title="jarred.nz/ Index">


  <h1>Hi, I'm @jarred.</h1>
  <h2>Design Engineer at RNZ</h2>
  <p>... and occasional freelance projects</p>

  <Hr />

    {projects.map((project) => <div class="snap-center"><Preview project={project} client:idle /></div>)}

  <Hr />
</Layout>