---
import Hr from './Hr.astro';
---
<nav class="whitespace-pre p-1"><Hr />Navigation:
  -> <a class="" rel="prefetch" href="/">Index</a>
  -> <a class="" rel="prefetch" href="/about">About</a>
<Hr />  
</nav>