---
import Hr from './Hr.astro';
---

<nav class="whitespace-pre"><Hr />Navigation:
  -> <a class="" rel="prefetch" href="/">Index</a>
  -> <a class="" rel="prefetch" href="/about">About</a>
<Hr />  
</nav>