@import './ui/project-card.postcss';
@import './ui/scratch.postcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-mono;
}

:root {
	--unit: 4px;
	--col-min: 72;
	--cell-w: 72px;
	--cell-h: 72px;
	@screen md {
		--unit: 8px;
		--col-min: 120;
	}
}
